/* Dark mode colors. */
:root {
    --color-primary: #6f39f8;
    --color-text: #2e353f;
    --color-text-light: #4f5969;
    --color-heading: #1a202c;
    --color-heading-black: black;
    --color-accent: #d1dce5;
    --sl-color-text-accent: var(--color-primary);
    --color-primary-button: white;
    --color-gray: #e0e0e0;
    --sl-color-text-invert: white;
    --sl-font: 'Satoshi-Variable', sans-serif;
    --code-attribute-bg: #6f39f8;
    --code-attribute-text: white;
    --wf: #146EF5;
    --wf-pink: rgb(190, 74, 165);
    --code-static-bg: var(--wf);
    --code-dynamic-bg: var(--wf-pink);
    --kbd-color-background: #898b90;
    --kbd-color-border: #3d3e42;
    --kbd-color-text: #222325;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-text-accent: var(--color-primary);
    --color-hero-background: #fcfbff;
    
    --kbd-color-background: var(--color-background-primary);
    --kbd-color-border: #cbcccd;
    --kbd-color-text: var(--color-text-primary);
}

[data-theme="dark"] main[data-pagefind-body] {
    background: #0C0B0B;
}

body * {
    outline-color: var(--color-primary)!important;
}

[data-theme="dark"] body {
    background: linear-gradient(180deg, #0C0B0B 0%, #2E1C5A 100%);
}


[data-theme="dark"]  header.header {
    background: #2E1C5A;
}
    

[data-theme="light"] header.header {
   border-bottom: 1px dashed var(--color-gray);
   background-color: white;
}


.action.primary {
    color: var(--color-primary-button);
}

.center img, main p img {
    margin:auto;
}



kbd {
    background-color: var(--kbd-color-background);
    border-radius: 0.25rem;
    border: 1px solid var(--kbd-color-border);
    box-shadow: 0 2px 0 1px var(--kbd-color-border);
    color: var(--kbd-color-text);
    cursor: default;
    display: inline-block;
    font-family: var(--font-family-sans-serif);
    font-size: 0.875em;
    line-height: 1;
    min-width: 0.75rem;
    padding: 2px 5px;
    position: relative;
    text-align: center;
    top: -1px;


}
  
  kbd:hover {
    box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
    top: 1px;
  }

  main .gallery > *:not(img) {
    display: contents;
  }

  main .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }