---

interface Props {
	icon?: string;
	title: string;
    href: string;
}

const { icon, title, href } = Astro.props;
---

<a href={href}>
<article class="card sl-flex">
	<p class="title sl-flex">
		{icon && <span class="icon"  set:html={icon}  />}
		<span set:html={title} />
	</p>
	<div class="body"><slot /></div>
</article>

</a>

<style>
    a {
        text-decoration: none;
        cursor: pointer;
        color: white;
    }
	.card {
		--sl-card-border: var(--sl-color-purple);
		--sl-card-bg: var(--sl-color-purple-low);
		border: 1px solid var(--sl-color-gray-5);
		background-color: var(--sl-color-black);
		padding: clamp(1rem, calc(0.125rem + 3vw), 2.5rem);
		flex-direction: column;
		gap: clamp(0.5rem, calc(0.125rem + 1vw), 1rem);
	}

    .card .icon {
        width: 3rem;
        height: 3rem;
    }

	.title {
		font-weight: 600;
		font-size: var(--sl-text-h4);
		color: var(--sl-color-white);
		line-height: var(--sl-line-height-headings);
		gap: 1rem;
		align-items: center;
	}
	.card .icon {
		padding: 0.5rem;
		border-radius: 0.25rem;
	}
	.card .body {
		margin: 0;
		font-size: clamp(var(--sl-text-sm), calc(0.5rem + 1vw), var(--sl-text-body));
	}

    .card * {
        color: var(--sl-color-white);
    }
</style>
